<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">aceWidgetManager</lang>
    </name>
    <author>
        <lang name="default">Vadim Shemarov (aka aVadim)</lang>
    </author>
    <homepage></homepage>
    <version>2.0.212</version>
    <requires>
        <livestreet>1.0.1</livestreet>
        <plugins>
            <plugin name="aceAdminPanel" version="2.0.355" condition=">=">aceadminpanel</plugin>
        </plugins>
    </requires>
    <description>
        <lang name="default">Custom Widgets (LS Blocks) Manager for LiveStreet/ACE</lang>
        <lang name="russian">Пользовательский Менеджер Виджетов (LS Блоков) для LiveStreet/ACE</lang>
    </description>
    <delegate>
        <module></module>
        <action></action>
        <template></template>
        <entity></entity>
    </delegate>
</plugin>
